*{
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
}

.game-board {
    height: 105px;
    width: 105px;
    /* border: 1px solid rgba(0, 0, 0, 0.39); */
    margin: 120px auto; /* centers the div */

    display: flex;
    flex-direction: column;
}
.col1, .col2, .col3 {
    display: flex;
}

.box {
    /* border: 1px solid rgba(255, 0, 0, 0.13); */
    /* width: calc(100px / 3);
    height: calc(100px / 3); */
    width: 33px;
    height: 33px;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.brd-right {
    border-right: 2px solid black;
}


.col1 {
    border-bottom: 2px solid black;
}
.col2 {
    border-bottom: 2px solid black;
}

.button {
    display: flex;
    justify-content: center;
}

button {
    background-color: rgb(6, 205, 255);
    border: none;
    width: 150px;
    height: 30px;
    border-radius: 4px;
    font-weight: bold;
}